requests==2.31.0
feedparser==6.0.11
gspread==6.1.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.126.0
Pillow==10.3.0
gtts==2.5.1
duckduckgo-search==6.1.7
